* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #605E5E;
}
button:focus {
  outline: 0;
}
body {
    overflow-x: hidden;
    background-color: #e3e8ee;
}
nav {
    display: inline-block;
    width: 20%;
}
.navItem:hover {
    cursor: pointer;
}
main {
    display: inline-block;
    vertical-align: top;
    height: 75px;
    width: 79.6%;
    position: relative;
}
.greeting {
    height: 100%;
    width: 80%;
    display: inline-block;
}
.greeting h3 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.logo {
    margin-bottom: 15px;
}
.logo img {
    width: 100px;
    position: relative;
    left: 29px;
}
.navItem p {
    left: 53px;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    padding: 10px 10px 10px 0;
    color: #2b2d50;
}
.launchHighlight {
  color: #B23B3A !important;
}
.launchHighlight:hover {
    cursor: pointer;
}
.iconCircle:hover {
  cursor: pointer;
}
.iconCircle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}
.iconCircle img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
}
.accountIcon {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.profilePopup {
    text-align: left;
    position: relative;
    padding-top: 10px;
}
.profilePopupContainer {
    position: absolute;
    width: 220px;
    background-color: white;
    transform: translateX(-77%);
    border-radius: 3px;
    margin-top: 5px;
    padding: 15px 0;
    display: none;
}
.accountName {
    padding: 5px 15px 15px 15px;
    border-bottom: 1px solid #CCC;
}
.profileLink {
    padding: 8px 15px;
    font-size: .9rem;
}
.profileLink:hover {
  background-color: #f7fafc;
  cursor: pointer;
}
.modifable {
    padding: 10px 25px 25px;
    padding-left: 0;
    border-radius: 5px;
}

/* DEMO Plan CSS */
.planInformation {
    font-size: 0;
}
.currentPlan, .remainingFreePrograms, .atCostPrograms {
    display: inline-block;
    width: 290px;
    font-size: initial;
    text-align: center;
    margin: 0 15px;
    min-height: 145px;
    background-color: white;
    border-radius: 5px;
    vertical-align: top;
    padding: 15px;
    position: relative;
    z-index: -1;
}
.currentPlan {
    margin-left: 0;
}
.statusContainer {
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.statusValue {
    margin-top: 10px;
    font-size: 1.5rem;
    padding: 15px;
}
.profilePopupContainer {
    position: absolute;
    width: 220px;
    background-color: white;
    transform: translateX(-77%);
    border-radius: 3px;
    margin-top: 5px;
    padding: 15px 0;
    display: none;
    z-index: 10000 !important;
    border: 1px solid #CCC;
}
.showProfile {
  display: block;
}
/* #plan {
    color: white;
    background-color: #B23B3A;
} */
.launchApplication {
    display: inline-block;
    position: absolute;
    right: 110px;
    top: 50%;
    transform: translateY(-50%);
}
.launchApplicationBtn {
    padding: 11px 100px;
    border: 1px solid transparent;
    background-color: #B23B3A;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
}
.launchApplicationBtn:hover {
    cursor: pointer;
}

/* Pricing */
.innerPriceContainer {
    width: 1020px;
}
.upgradeNowText {
    font-size: initial;
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
    margin: 5px 0;
    color: #B23B3A;
}
.priceStructure {
    width: 1150px;
    height: 450px;
    font-size: 0;
    text-align: left;
}
.individualOption {
    position: relative;
    display: inline-block;
    width: 19.6%;
    vertical-align: top;
    height: 90%;
    margin: 0 2px;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 1);
    transition: .3s;
    text-align: center;
}
.priceStructure p {
    font-size: initial;
}
.user p {
    font-size: 1.3rem;
}
.individualOption div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.individualOption div {
    height: 24%;
    position: relative;
}
.text-highlight {
  color: #B23B3A;
}
.individualOption > div {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
    height: 100%;
    box-sizing: border-box;
}
.individualOption:hover > div > div > div > p {
    color: #CCC;
}
.individualOption:hover {
    background-color: #B23B3A;
    color: white;
    cursor: pointer;
}
.individualOption > div {
    pointer-events: none;
}
.hover {
  transform: translateY(-20px);
}
p.disclaimer {
    font-size: initial;
    margin: 0 auto 15px auto;
    color: #605E5E;
}
.individualOption:hover div p {
    color: black;
}
.boldify {
  font-weight: bold;
  color: black;
}
.disclaimer {
    font-size: 1rem;
    width: 700px;
    position: relative;
}
nav, main {
  display: none;
}
img#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Modal Section */
.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, .8);
    z-index: 1000;
    display: none;
}
.innerModalContainer {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    background-color: #e3e8ee;
}
.innerModalContainer p {
    padding: 15px 0;
    position: relative;
}
.innerModalContainer.update {
  display: none;
}
h3.updateTitle {
    text-align: center;
    padding: 40px 0;
    background-color: white;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#planName {
    color: #4cae4c;
}
.planDetails {
    width: 80%;
    margin: auto;
    padding: 15px 0;
}
.updateSubscription {
    padding: 10px 15px;
    font-size: 1.1rem;
    border-radius: 5px;
    margin: 15px 0;
    background: #4cae4c;
    color: white;
    border: 1px solid #4cae4c;
}
.btnContainer {
    text-align: center;
    position: relative;
}
.removeContainer:hover {
    cursor: pointer;
}
.removeContainer {
    position: absolute;
    right: 0px;
    top: 0px;
}
.removeBtn {
    height: 10px;
    padding: 10px;
}
.updateDisclaimer p {
    color: #605E5E;
}
.updateDisclaimer {
    font-size: 0.7rem;
}
.updateDisclaimer p span {
  font-weight: bold;
}
#updatePlanSpinner {
    position: absolute;
    width: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.showUpdatePlanSpinner {
  display: block !important;
}
.updateSubscriptionLoading {
  opacity: .5;
  color: #4cae4c;
}
.showModal {
  display: block !important;
}
.updateSubscription:hover {
    cursor: pointer;
}
#monthlyCharge, #freeProgramsOnModal, #additionalPrice {
    color: #4cae4c;
}

/* Account information on modal */
.accountContainer {
    width: 80%;
    margin: auto;
    padding: 15px 0;
}
.updateBilling button {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 0.8rem;
}
.updateBilling button:hover {
    cursor: pointer;
}
.updateBilling button {
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: #28a745;
    border: 2px solid #28a745;
    color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}
.cancelSub p:hover {
    cursor: pointer;
}
.cancelSub p {
    color: #dc3545;
    padding-bottom: 1px;
    display: inline-block;
    border-bottom: 1px solid;
    font-size: 0.9rem;
    margin-top: 35px;
}
.cancelSub {
    text-align: center;
}
#cardNums {
    position: absolute;
    right: 0;
    font-weight: bold;
}
/* End Modal Section */
