* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #605E5E;
}
body {
    overflow-x: hidden;
    background-color: rgba(255,255,255, 1);
}
/*////////////////////////   Header     /////////////////////////////////////  */
header {
    width: 60%;
    margin: auto;
    position: relative;
}
.logoContainer, nav {
    display: inline-block;
}
.navItem {
    display: inline-block;
    padding: 10px 12px;
}
.innerNavContainer {
    position: relative;
    top: 50%;
    text-align: right;
    transform: translateY(-50%);
}
nav {
    height: 100%;
    position: absolute;
    width: 70%;
}
.navItem p {
    font-weight: 400;
}
/* .navItem:first-child p {
  color: #E7FF6E;
} */
.navItem p:hover {
  color: #B23B3A;
  transition: .3s;
  cursor: pointer;
}
.logoContainer img {
    width: 50%;
    vertical-align: middle;
    padding: 10px 0;
}
.mainContainer {
    /* background-image: url('./images/plane_in_trees.jpg'); */
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.headerContainer {
    background-color: rgba(250,250,250, 1);
}
content {
    font-size: 0;
}
.container {
    position: relative;
    height: 100%;
    width: 1000px;
    margin: auto;
}
/* ////////////////////////////  Featured Section ///////////////////////////// */
.featured {
    width: 100%;
    height: 500px;
    background-color: #222222;
    position: relative
}
.left, .right {
  display: inline-block;
  position: relative;
  height: 100%;
  vertical-align: top;
}
.left {
    width: 33%;
    text-align: center;
}
.right {
  width: 66%;
}
.textWrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    display: inline-block;
    font-size: 2rem;
}
.textWrapper p {
    font-weight: 100;
    font-size: 2.9rem;
    line-height: 60px;
    display: inline-block;
    width: 249px;
}
.featuredVideo {
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
